
.box .header {
    flex: 0 1 auto;
    padding: 10px 8%;
    /* background: #1f1053; */
    background: #ffffff;
    height: 100px;
    display: inline-flex;
    justify-content:space-between;
    position: relative;
  }

.box .header .logo{
    width: 100px;
}

.box .header .busca{

    width: 35%;
    height: 25px;
    padding: 3px 5px;
    right: 8%;
    top: 50px;
    display: flex;
    position: absolute;
    /* border: #8270c5 1px solid; */
    border: #020d7e 1px solid;
    border-radius: 5px;
}
.box .header .busca input{
    background-color: transparent;
    font-family: sans-serif,Verdana, Geneva, Tahoma;
    font-size: 1rem;
    /* color: #f1f1f1; */
    color: #020d7e;
    border: none;
    outline: none;
}

.box .header .busca .search{
    width: auto;
    height: 80%;
    position: absolute;
    right: 5px;
    top: 10%;
    /* color: #8270c5; */
    color: #020d7e;
    cursor: pointer;
}