@import-normalize;
@import "./assets/styles/variables.scss";
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */

html,
body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #77d4fc;
    border-radius: 20px;
}

body::-webkit-scrollbar-track {
    /* background:linear-gradient(#021e31, #02273f); */
}

@font-face {
    font-family: "MontSerrat";
    src: local("MontSerrat"), url("../src/assets/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
    font-display: swap;
}